/* General Navbar Styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(51, 51, 51, 0.2);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    backdrop-filter: blur(5px);
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  }
  
  .navbar-brand a {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a:hover {
    color: greenyellow;
  }
  
  /* Mobile Menu Toggle Button */
  .navbar-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%; /* Below the navbar */
      left: 0;
      width: 100%;
      background-color: rgba(51, 51, 51, 0.9);
      padding: 1rem 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  